
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

/* nav bar styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}
.portfolio-name{
    /* background-image: url(..//images/developer.png); */
    font-size: 45px;
    font-weight:800;
}
.name{
    color: #ff6347;
}

.hero{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 35px 0 200px;
    /* padding: 50px 0; */
}
.hero-content{
    max-width: 580px;
}
.hero-title{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
}
.hero-block{
    display: block;
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin: 5px 0 20px 0;
}
.hero-description{
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0 30px 0;
    color: #757575;
}
.hero-image{
    width: 580px;
}
.primary-button{
    width: 200px;
    height: 64px;
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
    border-radius: 5px;
    border: none;
}
.primary-button2{
    margin-left: 30px;
    width: 160px;
    height: 64px;
    color: #FD6E0A;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}
/* shared styles */
.primary-btn{
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #FD6E0A;
    color: white;
    border: none;
}
.secondary-bg{
    background-color:#FFF8F3;
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}
.text-center{
    text-align: center;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about{
    border: none;
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
    gap: 30px;
}
.about-box{
    border: 2px solid black;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.description{
    margin-left: 3px;
    margin-right: 3px;
}
.item-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* skills styles */
.skills-section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.desk{
    margin: 30px 116px 50px 115px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* resume styles */
.resume-summary{
    margin-top: 130px;
    margin-bottom: 113px;
}
.resume-container{
    display: flex;
    align-items: center;
    gap: 24px;
}
.resume-title{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px
}
.education-title{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    margin-bottom: -20px;
}
.education-title2{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
.education-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.button{
    margin: 50px 562px 137px 470px;
}
.resume button i{
    margin-right: 10px;
}

/* footer styles */
footer{
    display: flex;
    padding: 130px 230px;
    margin-right: 38px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    width: 461px;
    height: 64px;
    display: block;
    margin-bottom: 24px;
    padding: 18px 349px 18px 30px;
    border: none;
    border-radius: 5px;
}
